vti_encoding:SR|utf8-nl
vti_author:SR|DSEVEN\\Daniel
vti_modifiedby:SR|DSEVEN\\Daniel
vti_timelastmodified:TR|21 Feb 2013 22:16:04 -0000
vti_timecreated:TR|21 Feb 2013 18:00:32 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|chart_test.html
vti_nexttolasttimemodified:TW|21 Feb 2013 22:15:45 -0000
vti_cacheddtm:TX|21 Feb 2013 22:16:04 -0000
vti_filesize:IR|788
