vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|21 Feb 2013 03:24:22 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|DLAPTOP\\Daniel
vti_modifiedby:SR|DSEVEN\\Daniel
vti_timecreated:TR|10 Nov 2012 22:27:32 -0000
vti_backlinkinfo:VX|chart_test.html smartsolar.html index.html summary.html
vti_nexttolasttimemodified:TW|13 Nov 2012 01:35:05 -0000
vti_cacheddtm:TX|21 Feb 2013 03:24:22 -0000
vti_filesize:IR|975
