vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|23 Feb 2013 22:40:59 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|smartsolar.html
vti_author:SR|DLAPTOP\\Daniel
vti_modifiedby:SR|DLAPTOP\\Daniel
vti_timecreated:TR|08 Jan 2012 21:41:06 -0000
vti_nexttolasttimemodified:TW|23 Feb 2013 22:38:09 -0000
vti_cacheddtm:TX|23 Feb 2013 22:40:59 -0000
vti_filesize:IR|1455
