vti_encoding:SR|utf8-nl
vti_author:SR|DLAPTOP\\Daniel
vti_modifiedby:SR|DSEVEN\\Daniel
vti_timelastmodified:TR|13 Nov 2012 01:01:05 -0000
vti_timecreated:TR|11 Nov 2012 15:03:10 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|summary.html
vti_nexttolasttimemodified:TW|13 Nov 2012 00:59:00 -0000
vti_cacheddtm:TX|13 Nov 2012 01:01:05 -0000
vti_filesize:IR|194
